.alarm .progress {
  background-color: #d9534f;
  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
   from {
      opacity: 1;
   }
   to {
      opacity: 0;
   }
}

.timer-label-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.timer-label-container h2 {
  margin: 0;
}

.button-section {
  margin-bottom: 48px;
}
